{% extends ':site:home.html.twig' %}
{% block nav %}{% endblock %}
{% block body %}
    <section>
        <h3>Contact</h3>
        <section>
            <p>email</p>
        </section>
        <section>
            <p>s'inscrire</p>
            <p>informations</p>
            <p>contact</p>
        </section>
        <section>
            <p>message</p>
        </section>
        <section>
            <p>Envoyer</p>
        </section>
        <section>
            <a href="{{path('home')}}">Annuler</a>
        </section>
    </section>
{% endblock %}
{% block activités %}{% endblock %}