{% extends ':site:home.html.twig' %}
{% block body %}
    <section>
        <div class="col-lg-offset-1 col-lg-6 , section">
            <h4>Titre du post</h4>
            <div>
                <img>fk_image</img>
                <p>auteur</p>
            </div>
            <div>
                <p>TEXTE (datails du post)</p>
            </div>
        </div>
    </section>
{% endblock %}
