{% extends ':site:home.html.twig' %}
{% block body %}
    <section>
        <div class="col-lg-offset-1 col-lg-6 section">
            {% for item in liste %}
                {% if liste|length %}
                <h4>bonjour : {{item.title}}</h4>
                <div>
                    <img>fk_image</img>
                    <p>{{item.user.pseudo}}</p>
                </div>
                <div>
                    <p>{{item.description}}</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </section>
        {% endblock %}