{% extends ':site:home.html.twig' %}
{% block nav %}{% endblock %}
{% block body %}
    <section>
        <p>username...</p>
        <p>password</p>
        <p>login</p>
        <a href="{{path('home')}}">Annuler</a>
    </section>
{% endblock %}
{% block activités %}{% endblock %}