{% extends ':site:home.html.twig' %}

{% block body %}
    <section>
        <div class="col-lg-8 , section">
            <h2 class="text-center">Membres</h2>
            <div>
                {% for membre  in membres %}
                    <img class="pull-left" src="http://icon-icons.com/icons2/877/PNG/128/male-profile-picture_icon-icons.com_68388.png" alt="">
                    <p>{{ membre.pseudo }}</p>
                    <p>{{ membre.mail }}</p>
                    <p>{{ membre.url }}</p>
                {% endfor %}
            </div>
    </section>
{% endblock %}
