{% extends ':site:home.html.twig' %}

{% block body %}
    <section>
        <h3>Membres</h3>
        <section>
            <img src="" alt="">
            <p>
            </p>
        </section>
        <img src="" alt="">
        <p>
        </p>
        <section>
            <img src="" alt="">
            <p>
            </p>
        </section>
        <img src="" alt="">
        <p>
        </p>
        <section>
            <img src="" alt="">
            <p>
            </p>
        </section>
        <section>
            <img src="" alt="">
            <p>
            </p>
        </section>
    </section>
{% endblock %}
