{% extends ':site:home.html.twig' %}

{% block body %}
    <section>
        <div class="col-lg-8 , section">
            <h2 class="text-center">Projets</h2>
            <section>
                <input class="col-lg-9" placeholder="Nom, auteur..."/>
                <input class="col-lg-offset-1 col-lg-2" type="submit" value="Recherche">
            </section>
            <section>
                <section>
                    <section>
                    </section>
                    <section>
                    </section>
                </section>
                <section>
                </section>
                <section>
                </section>
            </section>
            <section>
            </section>
        </div>
    </section>
{% endblock %}