{% extends ':site:home.html.twig' %}

{% block body %}
    <section>
        <div class="col-lg-8 , section">
            <h2 class="text-center">Projets</h2>
            <section>
                <input class="col-lg-9" placeholder="Nom, auteur..."/>
                <input class="col-lg-offset-1 col-lg-2" type="submit" value="Recherche">
            </section>
            <section class="container col-lg-12">
                <div class="panel-group" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Grand T</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body" id="accordion">   
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Sous T</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">bla bla</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body" id="accordion">   
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Frere T</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">bla bla</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}