{% extends ':site:home.html.twig' %}

{% block body %}
    <section>
        <h3 class="text-center">Projets</h3>
        <section>
            <p>Name, author,...</p>
            <p>Find</p>
        </section>
        <section>
            <section>
                <section>
                </section>
                <section>
                </section>
            </section>
            <section>
            </section>
            <section>
            </section>
        </section>
        <section>
        </section>
    </section>
{% endblock %}