{% extends ':site:home.html.twig' %}
{% block body %}
    <div class="col-lg-8 section">
        <div class="bell">
            <img class="bells" src="{{ asset('image/bell2.png') }}"/>
        </div>
        <h2 class="text-center">Carnet de bord</h2>
        <section class="hide">
            <div>
                {% for post in posts %}
                    <h3>{{post.title}}</h3>
                    <h4 class="text-center">Last activités</h4>
                    <p class="text-justify">{{post.description}}</p>
                    <a href="{{path('detailsProjet')}}" class="col-lg-offset-9 col-lg-3">Go to details</a>
                {% endfor %}
        </section>
        <section class="hide">
            <div>
                <h3>from: UserFriendly</h3>
                <h4>object: Tu as fini quand ?</h4>
                <p>R (R = non lu)</p>
                <p>Contenu du message</p>
                <a>Answer</a>
            </div>
            <div>
                <h3>from: AnotherUser</h3>
                <h4>object: Rejoindre la résistance</h4>
                <p>R (R = non lu)</p>
                <p>Contenu du message</p>
                <a>Answer</a>
            </div>
            <div>
                <h3>from: UserFriendly</h3>
                <h4>object: Tu as fini quand ?</h4>
                <p>NON R (non R = lu)</p>
                <p>Contenu du message</p>
                <a>Answer</a>
            </div>
        </section>
        <section>
            <div>
                <h4>Profil:</h4>
                <div class="col-lg-6 profil">
                    <p>nom</p>
                    <p>prenom</p>
                    <p>pseudo</p>
                    <a href="">changer le mot de passe</a>
                    <p>adresse</p>
                    <p>ville</p>
                    <a href="">site web</a>
                    <button>edit</button>
                    <button>Update</button>
                </div>
                <img class="profil-img col-lg-offset-2 col-lg-4"atl="fk_image" src="http://icon-icons.com/icons2/877/PNG/128/male-profile-picture_icon-icons.com_68388.png">
            </div>
            <div class="col-lg-12 ">
                <h4>Projects:</h4>
                <div class="col-lg-12 projet">
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quit</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                </div>
                <button class="col-lg-offset-11">new</button>
            </div>

        </section>
    </div>
{% endblock %}