{% extends ':site:home.html.twig' %}
{% block body %}
    <div class="col-lg-offset-1 col-lg-6 section">
    <div>Cloche notif</div>
    <h2>Carnet de bord</h2>
    <div>
        <p>My projects</p>
        <p>My messages</p>
        <p>My settings</p>
    </div>
    <section>
        <div>
            {% for post in posts %}
            <h3>{{post.title}}</h3>
            <h4 class="text-center">Last activités</h4>
            <p class="text-justify">{{post.description}}</p>
            <a href="{{path('detailsProjet')}}" class="col-lg-offset-9 col-lg-3">Go to details</a>
            {% endfor %}
    </section>
    <section class="hide">
        <div>
            <h3>from: UserFriendly</h3>
            <h4>object: Tu as fini quand ?</h4>
            <p>R (R = non lu)</p>
            <p>Contenu du message</p>
            <a>Answer</a>
        </div>
        <div>
            <h3>from: AnotherUser</h3>
            <h4>object: Rejoindre la résistance</h4>
            <p>R (R = non lu)</p>
            <p>Contenu du message</p>
            <a>Answer</a>
        </div>
        <div>
            <h3>from: UserFriendly</h3>
            <h4>object: Tu as fini quand ?</h4>
            <p>NON R (non R = lu)</p>
            <p>Contenu du message</p>
            <a>Answer</a>
        </div>
    </section>
    <section class="hide">
        <div>
            <h4>Profil:</h4>
            <p>nom</p>
            <p>prenom</p>
            <p>pseudo</p>
            <img>fk_image</img>
            <a>changer le mot de passe</a>
            <p>adresse</p>
            <p>ville</p>
            <a>url site web</a>
            <p>edit</p>
            <p>Update</p>
        </div>
        <div>
            <h4>Projects:</h4>
            <ul>
                 <li>
                    <p>bla bla bla bla bla</p>
                    <a>edit</a> 
                    <a>quit</a>
                    <p>boss</p>
                </li>
                 <li>
                    <p>bla bla bla bla bla</p>
                    <a>edit</a> 
                    <a>quit</a>
                    <p>coll</p>
                </li>
                <li>
                    <p>bla bla bla bla bla</p>
                    <a>edit</a> 
                    <a>quit</a>
                    <p>coll</p>
                </li>
                 <li>
                    <p>bla bla bla bla bla</p>
                    <a>edit</a> 
                    <a>quit</a>
                    <p>coll</p>
                </li>
            </ul>
            <p>new</p>
        </div>
    </section>
    </div>
{% endblock %}