{% extends ':site:home.html.twig' %}
{% block body %}
    <div>Cloche notif</div>
    <h2>Details du projet</h2>
    <div>
        <p>Nom du projet</p>
        <a>Url du projet</a>
        <p>change</p>
        <ul>
            <li>Boss <a>edit</a></li>
            <li>Collaborateur <a>edit</a></li>
            <li>Collaborateur <a>edit</a></li>
        </ul>
        <p>Add</p>
    </div>
    <div>
        <h3>Description</h3>
        <p>Descriptif du projet...</p>
        <a>edit</a>
    </div>
    <div>
        <h3>Tasks</h3>
        <p>Taches avec le pseudo de la personne qui travaille dessus</p>
        <p>Taches avec le pseudo de la personne qui travaille dessus</p>
        <p>Taches avec le pseudo de la personne qui travaille dessus</p>
        <a>Add user.</a>
        <p>Add</p>
    </div>
{% endblock %}
