.section
{
    border: $border;
    background-color: $secondColor;
    padding: 0.8em;
    padding: 3em;
    margin-top:1em;
    
}

body
{
    font-family: cursive;
    background-color: $firstColor  ;
}

.trio{
    position: absolute;
    margin-left: -185px ;
    margin-top: -45px;
    z-index: -1;
}
.trio li{
    background-color: white;
    list-style-type: none;
    border: solid #000 1px; 
    margin: 4px;
    padding: 2px;
    padding-right: 25px;
    margin-left: 20px;
}
#profil{
    margin-left: 0;
}

.nous a {
    color: black;
    font-size: 17px;
}