.section
{
    border: $border;
    background-color: $secondColor;
    padding: 0.8em;
    padding: 3em;
    margin-top:1em;
    
}

body
{
    font-family: cursive;
    background-color: $firstColor  ;
}
.login
{
    width:33%;
}
.login p
{
    border:$border;
    background-color: white;
    padding: 0.5em;
    margin: 1em;
}
.login a
{
    float: right;
    text-decoration: none;
    padding-bottom: -15px;
}
