.mem{
    background-color: #ECF0F1;
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 2px 10px;
}
.pull-left{
    padding-top: 20px;
    padding-left: 25px;
}
.pull-right{
    padding-top: 20px;
    padding-right: 25px;
}
